{% extends "base/base.html" %}

<title>{% block title %}Sobre o Baquara{% endblock %}</title>

{% block content %}

<section class="sobre">

    <header class="sobre-header">
        <h1>Sobre o Baquara</h1>
    </header>


    <section class="sobre-section">
        <h2>Caso queira saber mais</h2>

        <p>
        Este projeto é uma iniciativa pessoal, sem fins lucrativos, voltada a organizar e disponibilizar
        conteúdos educacionais gratuitos, com foco principal em videoaulas.

        Caso queira saber mais sobre a proposta, ou tenha interesse em contribuir, sinta-se à vontade para entrar em contato ou visitar o repositório do projeto no GitHub.
        </p>
    </section>

    <div class="cards-sobre">

    <a href="https://github.com/PedrinL27/baquara" class="card-link">
        <div class="card-sobre">
            <i class="bi bi-github"></i>
            <h3>GitHub</h3>
        </div>
    </a>

    <a href="mailto:pedrolangelineto0@gmail.com" class="card-link">
        <div class="card-sobre">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
        </div>
    </a>

    <a href="https://www.linkedin.com/in/pedro-langeli-neto-0612822b8/" class="card-link">
        <div class="card-sobre">
            <i class="bi bi-linkedin"></i>
            <h3>LinkedIn</h3>
        </div>
    </a>

    </div>

{% endblock %}
