:root {

  --primary: #2563eb;
  --secundary: #1b4cb6;
  --text: #1e293b;
  --background: #f8fafc;
  --border: #d1d5db;
  --border-nav: #777a7e;
  --navbar-bg: white;

  --max-width: 1300px;

  --border-radius: 8px;

  --font-main: system-ui, -apple-system, Arial;

}